*{
margin:0;
padding : 0;
box-sizing: border-box;
font-family:sans-serif
}
body,HTML{
margin:0;
width:100%;
height:100%;
}
a{
  text-decoration: none;
}
/* header styling */
header{
  background: rgba(128, 128, 128, 0.295);
  padding-block: 10px;
  >.cont{
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    >.links,.lang{
      display: flex;
      align-items: center;
      gap: 10px;
      >p{
        font-size: 15px;
        color: gray;
      }
    }
    >.links a{
      color: inherit;
      display: flex;
      gap: 10px;
      text-align: center;
      >p{
        color: gray;
      }
    }
  }
}
.fa-cart-shopping{
  cursor: pointer;
}

/* responsiveness for header */
@media (max-width:800px){
  header p{
    display: none;
  }
}

/* main page styling */
main{
  max-width: 80vw;
  margin: auto;
}
/* search bar */
.searchbar{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  >img{
    width: 250px;
  }
  >.searchandcart{
    flex-grow: 1;
    display: flex;

    gap: 10px;
    >.search,.cart{
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding-inline: 10px;
      justify-content: center;
    }
    >.search{
      border: 1px solid gray;
      padding-right:0;
      overflow: hidden;
      border-radius: 7px;
      >.magnifighing{
        background: gray;
        height: 100%;
        padding: 10px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center
      }
    }
    >.cart{
      border-radius: 7px;
      background: #000;
      padding-block: 10px;
      color: white;
      display: flex;
      flex-direction: row;
      gap: 3px;
      cursor: pointer;
    }
    >.search input{
      outline: none;
      border: none;
      padding-block: 10px;
      height: 100%;
      flex-grow: 1;
    }
  }
}

/* responsiveness of search bar */
@media(max-width:800px){
  .searchbar,.searchandcart{
    flex-direction: column;
    align-items: flex-start;
  }
  .searchandcart{
    width: 100%;
    flex-grow: 1;
    >.search,.cart{
      width: 100%;
    }
  }
}

/* styling category bar */
.categories{
  width: 100%;
  padding: 10px;
  padding-inline:20px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(25, 25, 203, 0.758);
  margin-block: 10px;
  color: white;
  border-radius: 5px;
  >div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  >ul li{
    list-style-type:none ;
  }
  >ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 30px;
   }
   >ul li:first-child{
    margin-bottom: 20px;
   }
   overflow: hidden;
}
#non{
  display: none;
}
@media (max-width:900px) {
  #non{
    display: flex;
  }
  .categories{
    >ul{
      display: none;
    }
  }
}

/* image scroller */
.imagescroller{
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.37);
  margin-top: 20px;
  width: 100%;
  position: relative;
  >img{
    width: 100%;
  }
}
.arrowleft{
  left: 10px;
  transform: translateX(-100%);
  opacity: 0;
}
.arrowright{
  right: 10px;
  transform: translateX(100%);
  opacity: 0;
}
.arrowleft,.arrowright{
  position: absolute;
  z-index: 2;
  font-size: 50px;
  top: 50%;
  transition: all ease 0.25s;
  /* transform: translateY(-50%); */
  /* display: none; */
}
.imagescroller:hover{
  >.arrowleft{
    transform: translateX(100%);
  }
  >.arrowright{
    transform: translateX(-100%);
  }
  >.arrowleft,.arrowright{
    opacity: 1;
    transform: translateY(-50%);
    transition: all ease 0.25s;
  }
}
.dots{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  >.dot{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: gray;
  }
}
.dot.active{
  background:black;
}
.featuredproducts{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;

}
#fet{
  margin-block: 20px;
  font-size: 20px;
}
.product{
  padding: 10px;
  /* border: 1px solid rgba(128, 128, 128, 0.646); */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.329);
  > a img{
    width: 100%;
  }
  >.title{
    color: rgba(0, 0, 255, 0.792);
    font-weight: 600;
  }
  >.detail{
    font-size: 13px;
    color: rgba(128, 128, 128, 0.708);
    padding: 10px 0 20px ;
    font-weight: 100;
  }

  #price{
    color: rgba(0, 0, 0, 0.861);
  }
  #tax{
    color: rgba(128, 128, 128, 0.502);
    font-size: 13px;
    margin-block: 4px;
  }
  >.tags{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    >i{
      border: 1px solid rgba(128, 128, 128, 0.482);
      display: flex;
      align-items: center;
      justify-content: center;
      padding-block: 10px;
      margin-top: 10px;
      background: rgba(128, 128, 128, 0.105);
      color: rgba(128, 128, 128, 0.68);
      cursor: pointer;
      font-size: 10px;
      position: relative;
    }
    >i:hover{
      background: rgba(128, 128, 128, 0.76);
      color: black;
    }
  }
}
.product:hover{
  >a img{
    opacity: 0.5;
  }
}

/* responsiveness of the featured products */
@media (min-width:1200px){
  .featuredproducts{
    grid-template-columns: repeat(4,1fr);
  }
}

@media (max-width:700px){
  
  .featuredproducts{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:600px){
  .featuredproducts{
    grid-template-columns: repeat(1,1fr);
  }
}

/* styling the brands logo section */
.brands div,.brands{
  display: flex;
  gap: 50px;
  >img{
    width: 10vw;
  }
}
.brands{
  margin-block: 50px;
  padding-block: 5px;
  padding-inline: 20px;
  box-shadow: 0px 0px 10px rgba(87, 60, 60, 0.356);
  width: 100%;
  overflow-x: auto;
}
.brands div{
  animation: scroll 10s linear infinite;

}
.brands::-webkit-scrollbar{
  display:none;
}
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}

/* styling footer */
footer{
  background: #303030;
  padding: 30px;
  color: white;
}
.alllinks{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.bold{
  color: white;
  font-size: 16px;
}
ul li{
  opacity: 0.7;
  list-style-type:none ;
  font-size: 16px;
}
ul li:first-child{
  margin-top: 20px;
}
ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
hr{
  opacity: 0.1;
  border-radius: 50%;
  margin-block: 30px;
}
.closing{
  font-size: 12px;
  text-align: center;
  opacity: 0.5;
}

/* responsiveness for footer */
@media (max-width:600px){
  .alllinks{
    flex-direction: column;
    gap: 20px;
  }
}

/* wish added for wishlist */
#wishadded{
  color: black;
}


/* popup cart ui */
.container{
  
  transition: all .35s ease;
  /* display: none; */
  transform: translateY(-100%);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #0000005b;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.wrapper{
  width: 80%;
  max-width: 600px;
  margin: auto;
}
.headbar{
  border-radius: 3px;
  margin-top: 10px;
  background: white;
  width: 100%;
  padding: 10px;
  >p{
    font-size: 13px;
    margin-bottom: 20px;
  }
}
.popupcart{
  margin-top: 20px;
  border-radius: 5px;
  background: white;
}
.cartproduct{
  position: relative;
  height: 70vh;
  overflow-y: auto;
}
#nothing{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.prp{
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  >div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  >div img{
    width: 80px;
  }
  >div .quantity{
    width: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3px;
    >span{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    >.bn{
      border: 1px solid black;
      background: rgba(128, 128, 128, 0.669);
      font-size: 20px;
      cursor: pointer;
    }
    >.bn:hover{
      background: gray;
    }
  }
}
.prp:nth-child(even){
  background: rgba(128, 128, 128, 0.075);
}
.cartproduct::-webkit-scrollbar{
  display: none;
}
.btn{
  border-radius: 5px;
  margin-top: 10px;
  display: grid;
  border: 2px solid black;
  grid-template-columns: repeat(2,1fr);
  >button{
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: rgba(0, 128, 0, 0.683);
    outline: none;
  }
  >button:hover{
    background: rgba(0, 128, 0, 0.514);
  }
  >button:first-child{
    border-right:2px solid black ;
  }
  .removepopup{
    background: rgba(255, 0, 0, 0.744);
  }
  .removepopup:hover{
    background: rgba(255, 0, 0, 0.466);
  }
}
#divider{
  opacity: 1;
  background: black;
}
.show{
  transform: translateY(0);
}

#trash{
  cursor: pointer;
}

@media (max-width:450px){
  .prp{
    flex-direction: column;
    gap: 10px;
  }
  .prp div img{
    width: 30px;
  }
  #inc,#dec{
    font-size: 10px;
  }
  .quantity{
    width: 10px;
  }
  .btn button{
    font-size: 12px;
  }
}


/* success dialog popup */
.successdialog{
  position: fixed;
  top: 10px;
  left: 50%;
  background: white;
  color: black;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: all 0.25s ease;
  opacity: 0;
  transform: translateY(-100%);
  transform: translateX(-50%);
  
}
.failuredialog{
  position: fixed;
  top: 10px;
  left: 50%;
  background: white;
  color: black;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: all 0.25s ease;
  opacity: 0;
  transform: translateY(-100%);
  transform: translateX(-50%);
  >.circ{
    width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: red;
  >i{
    color: white;
  }
  }
  
}
.circ{
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: green;
  >i{
    color: white;
  }
}
.showsuccessdialog{
  transform: translateY(0px);
  transform: translateX(-50%);
  opacity: 1;
  /* display: flex; */
}